<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Steam Game Recommendation</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
    	body {
		    padding-top: 70px;
		}
		footer {
		    margin: 50px 0;
		}
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Recommended Steam Games</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">For User Id
                    <small>{{ userid }}</small>
                </h1>
            </div>
        </div>


        {% for (name,price,image_url) in lst_recommended_games %}
        <div class="row">
            <div class="col-md-6">
                <img src="{{ image_url }}">
            </div>
            <div class="col-md-6">
                <h3>{{ name }}</h3>
                <h4>$ {{ price }}</h4>
                <a class="btn btn-primary" href="#">Purchase <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <hr>
        {% endfor %}


        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Wenz 2016</p>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>

</body>

</html>
